/* h5{
  font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif Georgian', serif;
font-family: 'Roboto Condensed', sans-serif;
}
h6{
  font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif Georgian', serif;
font-family: 'Roboto Condensed', sans-serif;
} */

  @import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Eczar&family=Rubik&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
a{
  cursor:pointer;
}

h1{
  font: bold 6.25rem 'Roboto', sans-serif;
}
h2{
  font: bolder 3rem 'Roboto', serif;
}
h3{
  font: lighter 1.8rem 'Roboto', sans-serif;
}

h5{
  font: bold 1.6rem 'Libre Baskerville', serif;
}
h6{
  font:  1rem 'Roboto Condensed', sans-serif;
}
p {
  font-family: 'Proza Libre', sans-serif;
}
li{
  
    font-family: 'Proza Libre', sans-serif;

}
hr{
  /* border: 2px solid rgb(113, 158, 107); */
  border: 2px solid #41644A;
  border-radius: 25px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

/* Header style begins  */
.header{
 
  text-align: center;
  background-color: #fff ;
  width: 100%;
  display: flex;
  padding: 1.6rem;
  
 
 
}
.header-frame{
  width: 100%;
  height: 20%;
  position: fixed;
  z-index: 9999;
 
}
.logo{
  margin-right: 0.3rem;
}

.site-header{
  display: flex;
  width: 30%;
 
}
.tag-line{
 
  margin-left: 0.3rem;
  margin-top: 0.5rem;
}
.hyphen{
 font-size: 1.6rem;
}



/* navbar style begins*/
nav{
  margin-top: 100px;
}
.nav ol {
  display: inline-flex;
  justify-content: end;
  margin-left: 18.8rem;
  width: 70%;
 
  }
  .list-item a{
   text-decoration: none;
   color: #333232;
   font: bold 0.9rem 'roboto', sans-serif;
   cursor: pointer;
  }
  .list-item a:hover{
    color: rgb(113, 158, 107);
    
   }
 
 ol {
    list-style: none;
   
  }
  .list-item{
     display: flex;
     list-style: none;
     margin: auto 1.3rem;
     
    
  }
  
/*navbar style ends*/

/* Header Style Ends */
/* main begins */
  .container-aboutme{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 130%;
  }
  .container1{
   width: 50%;
   height: 130%;
   /* background-color:#263829ea; */
   background-color: #41644A;
  }
  .container2{
   width: 50%;
   background-color: #fff;
  }
  .box{
   display: flex;
    width: 100%;
    position: relative;
    bottom: 600;
    margin-left: 18rem;
    padding: 3.1rem;
    
  
 }
  .box1{
   /* background-color: #41644A; */
   background-color: rgb(113, 158, 107);
   width: 30%;
  }
  .img1{
    display: block;
    width: 60%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .name{
    margin-left:auto;
    margin-right: auto;
    padding: 1.3rem;
    font-size: 1.6rem;
   text-align: center;
  }
 .job-title{
  text-align: center;
  padding: 1.3rem;
  letter-spacing: 5px;
 }
 .socials{
  background-color: #fff;
 }

 .socials ol{
  display: flex;
  justify-content: space-evenly;
  padding: 1.3rem;
  font-size: 1.3rem; 
 }
                                                        
 .box2{
  width: 50%;
  padding: 0 2.5rem ;
 }
 .buttons{
  padding: 1.3rem;
 }
 .buttons a{
  text-decoration: none;
  color: #000;
  font: bold 0.9rem 'Roboto', sans-serif;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 0.3rem 0.6rem;
 }
 .buttons a:hover{
  color: #fff;
  background-color: rgb(113, 158, 107);
 }
 
 .btn1{
  margin-right: 3rem;
 }
.box2 p{
  font: 0.9rem/1.2 'poppins', sans-serif;
  text-align: left;
  word-spacing: 2px;
  color: #000;
  letter-spacing: 1.5px;
 }
 .section-about{
  height: 100%;
 }
/* main ends*/


/* Resume page begins*/
.container-resume{
  background-color: #41644A;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-frame2{
  width: 100%;
 height: 20%;
}
.resume{
  text-align: center;
  margin-top: 8rem;
  color: #fff;
}
.experience{
  display: flex;
  padding: 2rem;
  justify-content: center;
  color: #fff;
}
.cv{
 margin-left: 30rem;
} 
a.cv{
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font: bold 0.9rem 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.6rem 0.6rem;
 }
 a.cv:hover{
  color: #fff;
  background-color: rgb(113, 158, 107);
 }
 .resume-box{
  margin-left: 19rem;
  margin-right: 18rem;
 
 }
 .resume-box h3{
  font-size: larger;
  font-weight: bold;
}
/* first resume box begins*/
.resume-box1{
  background-color: #fff;
  display: flex;
  padding: 3rem;
  width: 100%;
  box-shadow: 2px 2px  rgba(0, 0, 0, 0.5);
}
.resume-box h4{
  color: #918b8b;
}
.details{
 width: 40%;
}
.details p{
  font: 0.8rem/1.3 'poppins', sans-serif;
  text-align: left;
  color: #000;
  letter-spacing: 1.5px;
 }

.description{
 width: 60%;
 text-align: justify;
}
.description p{
  font: 0.8rem/1.2  'Eczar', serif;
  text-align: left;
  word-spacing: 2px;
  color: #000;
  letter-spacing: 1.5px;
 }

/* first resume box end*/

p{
  font-family: 'Proza Libre', sans-serif;}
 /* Resume page ends*/ 
 /* education */
 .education{
  margin-top: 40px;
  display: flex;
  padding: 2rem;
  justify-content: center;
  color: #fff;
 }
 .education-box{
  margin-left: 19rem;
  margin-right: 18rem;
  display: flex;
  padding: 2em;
  background-color: #fff;
  margin-top: 30px;


  box-shadow: 2px 2px  rgba(0, 0, 0, 0.5);
 }
 .education-details{
 margin-left: 12rem;
 
 }
 /* education ends */

 /* skillset */
 .professional-skill h3{
  margin-top: 40px;
  display: flex;
  padding: 2rem;
  justify-content: center;
  color: #fff;
 }
.skills ul{
  margin-left: 19rem;
  margin-right: 18rem;
  display: flex;
  padding: 2em;
  background-color: #fff;
  margin-top: 30px;
  flex-wrap: wrap;
  box-shadow: 2px 2px  rgba(0, 0, 0, 0.5);
}
.skills li{
  margin-left: 30px;
 
 
}





 /* skillset end*/
 /* Contact */
 .contact-form{
  background-color: #41644A;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
 }
 .contact-form h2{
  text-align: center;
  padding-top: 100px ;
  color: #fff;
  
 }
 #contact-form{
  margin: 80px auto;
  padding: 80px 40px;
  height: 120%;
  width: 50%;
  display: block;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4)

}
 label{
 font: 600 0.8rem 'roboto', sans-serif;
 margin: 40px;
}
 input{
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  text-overflow: ellipsis;
  width: 90%;
  margin: 40px;
}
 textarea{
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  text-overflow: ellipsis;
  width: 90%;
  margin: 60px 0 0 40px;
}
 input:hover{
  border-bottom-color: rgb(113, 158, 107);
}
textarea:hover,
textarea:focus {
  border-bottom-color:  rgb(113, 158, 107);
}
.form-group{
  display: flex;
}
.first-name input{
  width: 80%;
}
.last-name input{
  width: 80%;
}
 .btn{
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 0.4rem;
  font-weight: bold;
  font-family:  Arial, sans-serif;
  font-size: small;
 

}
#btn{
  margin-top:  13%;
  margin-left: 40%;
  margin-right: 30%;
  
}
.btn:hover{
  background-color:  rgb(113, 158, 107);
  color: #fff;
  transform-style: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* contact form ends */
/* FOoter begins */
footer{
  display: flex;
  padding: 2rem;
  background-color: white;
 
}

.footer-end{
  display: inline-flex;
  margin-left: 27rem;
  padding: 0 1.3rem;
  margin-top: 25px;
}
.footer-end p{
  font-weight: 500;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.footer-end a{
  font-size: 1.2rem; 
}
.call{
 margin: 0 50px;
 text-align: center;
}
.call p{
  margin-bottom: 5px;
}
.write {
  margin: 0 20px;
  text-align: center;
}
.write p{
  margin-bottom: 5px;
}
.follow {
  margin: 0 15px;
}
.follow p{
  margin-bottom: 5px;
  text-align: center;
}
.follow ol{
  display: flex;
}
.follow a{
 margin: 0 10px;
 color: black;
}
.copyright{
  margin-top: 30px;
  font-size: larger;
}
.footer-frame{
  width: 100%;
margin-top: 350px;

}

/* Footer ends*/
/* Media query for mobile devices */
@media screen and (max-width: 992px) {
 body{
  overflow-x: visible;
  padding: 0;
  margin: 0;
 }


  /* Hamburger styles Begins*/
  
  .menu-icon {
  
    position: absolute;
    right: 0;
    align-items: end;
   
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 9999999999999;
   
  }
  
  .menu-icon span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #000;
    margin-right: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  
  }
  .nav{
    display: none;
  }
   .hyphen{
 font-size: 3rem;
   }
   .tag-line
   {
    margin-top: 20px;
   }
  /* Header styles ends*/
/* About */
 .container-aboutme{
  display: flex;
  flex-direction: column-reverse;

  width: 100%;
  height: 110%;
}

.container1{
width: 100%;
height: 50%;
background-color: #41644A;
}
.container2{
width: 100%;
height: 40%;
background-color: #fff;
}
.box{
  /* display: flex;
  flex-direction: column; */
  display: block;
  width: 100%;
  position: relative;
  margin: 0;
  bottom: 630;
  
 

}
.box1{

background-color: rgb(113, 158, 107);
width: 100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img1{
 display: block;
 width: 60%;
 /* padding: 20px; */
 margin-left: auto;
 margin-right: auto;
}
hr{
  border: 2px solid #41644A;
  border-radius: 25px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.name{
 margin-left:auto;
 margin-right: auto;
 margin-top: -20px;
 font-size: 1.5rem;
text-align: center;
}
.job-title{
display: none;
}
.socials{
background-color: #fff;
}

.socials ol{
display: flex;
justify-content: space-evenly;
padding: 1.3rem;
font-size: 1.3rem; 
}
                                                     
.box2{
width: 100%;
padding: 0;

}
.slide-up
{
  animation-name: slide-up;
  animation-duration: 1.1s;
}
@keyframes slide-up {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }
}




.buttons{
margin-bottom: 20px;
position: relative;
bottom: 380px;
width: 100%;
display: flex;
cursor: pointer;

}
.btn2{
 margin-left: -20px;
  
  }
.buttons a{
text-decoration: none;
color: #000;
font: bold 1rem 'Roboto', sans-serif;
cursor: pointer;
border: 1px solid #fff;
border-radius: 25px;
padding: 0.7rem 1rem;

}
.buttons a:hover{
color: #000;
background-color:#fff;
}
.box2{
  text-align: justify;
}
.box2 
  h1{
    font: bold 3.25rem 'Roboto', sans-serif;
    margin-top: 40px;
    margin-left: -10px;
  
}
.box h2{
  font: bolder 3rem 'Roboto', serif;
  /* margin-left: -10px; */
}
h3{
  font: bold 1.6rem 'Roboto', sans-serif;
  margin-left: -20px;
  margin-top: 100px;
}

h5{
  font: bold 1.6rem 'Libre Baskerville', serif;
}
h6{
  font:  1rem 'Roboto Condensed', sans-serif;
}
.box2 p{
font: 1.4rem/1.2 'poppins', sans-serif;
text-align: left;
width: 100%;
color: #000;
letter-spacing: 1.5px;

}
.about {
margin-top: -50px;
margin-left: -20px;

  } 
.section-about{
height: 100%;
} 
  /* main ends */
/* Resume page begins*/
.container-resume{
  background-color: #41644A;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-frame2{
  width: 100%;
 height: 20%;
}
.resume{
  text-align: center;
  margin-top: 7rem;
  color: #fff;
}
.experience{
  display: flex;
  padding: 2rem;
  justify-content: left;
  color: #fff;
}
.cv{
 /* margin-left: 30rem; */
} 
a.cv{
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font: bold 0.9rem 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.6rem 0.6rem;
 }
 a.cv:hover{
  color: #fff;
  background-color: rgb(113, 158, 107);
 }
 .resume-box{
  margin: auto;
  padding: 1rem;
 
 }
 .resume-box h3{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 0.5px;
  margin-bottom: 5px;
}
/* first resume box begins*/
.resume-box1{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 2px 2px  rgba(0, 0, 0, 0.5);
}
.resume-box h4{
  color: #918b8b;
  font-size: 1.1rem;
}
.details{
 width: 100%;
 margin-bottom: 20px;
}
.details p{
  font: 0.9rem/1.3 'poppins', sans-serif;
  text-align: left;
  
  color: #000;
  letter-spacing: 1.5px;
 }

.description{
 width: 100%;
 text-align: justify;
 margin-top: 20px;

}
.description p{
  font: 1.2rem/1.2  'Eczar', serif;
  text-align: left;
  word-spacing: 2px;
  color: #000;
  letter-spacing: 1.5px;
 }


p{
  font-family: 'Proza Libre', sans-serif;}
 /* Resume page ends*/ 
 /* education */
 .education{
  margin-top: 40px;
  display: flex;
  padding: 2rem;
  color: #fff;
 }
 .education-box{
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #fff;
  margin-top: 30px;
  margin: auto;
  te
  box-shadow: 2px 2px  rgba(0, 0, 0, 0.5);
 }

 /* education ends */

 /* skillset */
 .professional-skill h3{
  margin-top: 40px;
  display: flex;
  padding: 2rem;
  justify-content: center;
  color: #fff;
 }
.skills ul{
  margin-left: 19rem;
  margin-right: 18rem;
  display: flex;
  padding: 2em;
  background-color: #fff;
  margin-top: 30px;
  flex-wrap: wrap;
  box-shadow: 2px 2px  rgba(0, 0, 0, 0.5);
}
.skills li{
  margin-left: 30px;
 
 
}





 /* skillset end*/
    /*contact begins  */
   }
   #contact-form{
    margin: 80px auto;
    padding: 80px 40px;
    height: 120%;
    width: 50%;
    display: block;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4)
  
  }
   label{
   font: 600 0.8rem 'roboto', sans-serif;
   margin: 40px;
  }
   input{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-overflow: ellipsis;
    width: 90%;
    margin: 40px;
  }
   textarea{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-overflow: ellipsis;
    width: 90%;
    margin: 60px 0 0 40px;
  }
   input:hover{
    border-bottom-color: rgb(113, 158, 107);
  }
  textarea:hover,
  textarea:focus {
    border-bottom-color:  rgb(113, 158, 107);
  }
  .form-group{
    display: flex;
  }
  .first-name input{
    width: 80%;
  }
  .last-name input{
    width: 80%;
  }
   .btn{
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 0.4rem;
    font-weight: bold;
    font-family:  Arial, sans-serif;
    font-size: small;
   
  
  }
  #btn{
    margin-top:  13%;
    margin-left: 40%;
    margin-right: 30%;
    
  }
  .btn:hover{
    background-color:  rgb(113, 158, 107);
    color: #fff;
    transform-style: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
   /*contact form ends  */
footer{
width: 100%;
  padding: 2rem;
  background-color: white;

}
.footer-frame{

  margin-top: 1350px;
  
}
/* FOoter begins */
footer{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  background-color: white;
 
}

.footer-end{
  display: inline-flex;
  margin-left: 27rem;
  padding: 0 1.3rem;
  margin-top: 25px;
}
.footer-end p{
  font-weight: 500;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.footer-end a{
  font-size: 1.2rem; 
}
.call{
 margin: 0 50px;
 text-align: center;
}
.call p{
  margin-bottom: 5px;
}
.write {
  margin: 0 20px;
  text-align: center;
}
.write p{
  margin-bottom: 5px;
}
.follow {
  margin: 0 15px;
}
.follow p{
  margin-bottom: 5px;
  text-align: center;
}
.follow ol{
  display: flex;
}
.follow a{
 margin: 0 10px;
 color: black;
}
.copyright{
  margin-top: 30px;
  font-size: larger;
}
.footer-frame{
  width: 100%;
margin-top: 350px;

}

/* Footer ends*/

